body, html {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #2C2C2C;
}

#pageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
    background-color: #2C2C2C;
}

#pageDisplay h1 {
    font-size: clamp(2rem, 3rem, 4rem);
    color: #6F4F24;
}

#pageDisplay p {
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    text-align: center;
    color: #FFEB3B;
}

#usernamePasswordBox2 {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: auto;
    height: auto;
    background-color: #4F4F4F;
    border: #6F4F24 solid 0.1rem;
    border-radius: 0.5rem;
    color: white;
}

.usernamePasswordBox1 {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: auto;
    height: auto;
    background-color: #4F4F4F;
    border: #6F4F24 solid 0.1rem;
    border-radius: 0.5rem;
    color: white;
}

.inputBox {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #4A2C2A;
    color: white;
    border-radius: 0.4rem;
    border: none;
}

.inputBox:focus {
    background-color: #4A2C2A;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: #4A2C2A !important;
    color: white !important;
    box-shadow: 0 0 0 2rem #4A2C2A inset !important;
}

input:-webkit-autofill::first-line {
    color: white !important;
}

input[list] {
    background-color: #4A2C2A;
    color: white;
    border: none;
}

input[list] option:hover {
    background-color: #6F4F24;
}

#loginusername {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #4A2C2A;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
}

#submitButton, #changeWeaponButton {
    width: 20vw;
    height: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(45deg, #6F4F24, #8B5D33);
    color: white;
    border: none;
    cursor: pointer;
}

#submitButton:hover, #changeWeaponButton:hover {
    background-color: #B57547;
}

#mainInfoDiv {
    display: flex;
}

#characterInfo {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 16px;
    color: white;
}

#characterImage {
    width: 30vw;
    height: auto;
}

#weaponMovesInfo, #weaponryInfo {
    display: flex;
    flex-direction: column;
    background-color: #5C4033;
    border-radius: 0.5rem;
    width: auto;
    margin: 0.5rem;
    padding: 1rem;
    color: white;
}

#weaponMovesInfo, #weaponryInfo {
    border: 2px solid #6F4F24;
}

.menuButton {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: #4A2C2A;
    justify-content: space-around;
    align-items: center;
}

.menuButton button {
    padding: 0.5rem 1rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.menuButton button:hover {
    background-color: #6F4F24;
    border-radius: 0.5rem;
}

.fightingDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: white;
}

#fightAnimationDiv {
    display: flex;
    height: 50vh;
    width: 90vw;
    justify-content: space-between;
}  

#fightStatsDiv {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 20vh;
}  

.fightStatsBox {
    border: 2px solid #6F4F24;
    background-color: #5C4033;
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: white;
}

.fightStatsBox > * {
    padding: 0.5rem;
    height: 5vh;
}

.fightStatsBox > *:nth-child(2),
.fightStatsBox > *:nth-child(3),
.fightStatsBox > *:nth-child(4) {
    text-align: left;
    align-self: self-start;
}

.fightStatsBox h6{
    margin: 0;
    font-size: 50%;
}

#PlayerStatsBox h6 {
    background: none;
    color: #fff;
    width: 100%;
}

#loginModal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modalContent {
    background-color: #5C4033;
    padding: 5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 60vw;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid #6F4F24;
}

#modalContent h1 {
    margin: 0 0 3rem;
    font-size: clamp(2rem, 3rem, 4rem);
    color: #FFEB3B;
}

#modalContent button {
    background-color: inherit;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: 700;
}

#modalContent button:hover {
    opacity: 20%;
}


#submituser {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #8B5D33 !important;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}

#submituser:hover {
    background-color: #B57547 !important;
    border-radius: 0.4rem;
}

.hidden {
    display: none;
}

#submitButton, #changeWeaponButton {
    border: 2px solid #6F4F24;
}

#weaponMovesInfo, #weaponryInfo, .fightStatsBox {
    border: 2px solid #3D5AFE;
}

#modalContent {
    border: 2px solid #FFEB3B;
}