body, html {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #3b0000;
}

#pageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
    background-color: #3b0000;
}
#pageDisplay h1 {
    font-size: clamp(2rem, 3rem, 4rem);
    color: #240000;
}
#pageDisplay p {
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    text-align: center;
    color: #ffaaaa;
}

#usernamePasswordBox2 {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: auto;
    height: auto;
    background-color: #843030;
    border: #990000 solid 0.1rem;
    border-radius: 0.5rem;
    color: white;
}

.usernamePasswordBox1 {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: auto;
    height: auto;
    background-color: #843030;
    border: #990000 solid 0.1rem;
    border-radius: 0.5rem;
    color: white;
}

.inputBox {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #4a0f0f;
    color: white;
    border-radius: 0.4rem;
    border: none;
}

.inputBox:focus {
    background-color: #4a0f0f;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: #4a0f0f !important;
    color: white !important;
    box-shadow: 0 0 0 2rem #4a0f0f inset !important;
}

input:-webkit-autofill::first-line {
    color: white !important;
}

input[list] {
    background-color: #4a0f0f;
    color: white;
    border: none;
}

input[list] option:hover {
    background-color: #7a1f1f;
}

#loginusername {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #4a0f0f;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
}

#submitButton, #changeWeaponButton {
    width: 20vw;
    height: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

#submitButton:hover, #changeWeaponButton:hover {
    background-color: #ff1a1a;
}

#characterInfo {
    align-items: start;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 5vw;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 16px;
    color: white;
}
#characterImage {
    width: 30vw;
    height: auto;
}

#weaponMovesInfo, #weaponryInfo {
    display: flex;
    flex-direction: column;
    background-color: #9b1e1e;
    border-radius: 0.5rem;
    width: 20vw;
    margin: 0.5rem;
    padding: 1rem;
    color: white;
}
#weaponryInfo {
    position: absolute;
    top: 0;
    right: 5vw;
}

.menuButton {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: #8a0000;
    justify-content: space-around;
    align-items: center;
}
.menuButton button {
    padding: 0.5rem 1rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
.menuButton button:hover {
    background-color: #ff0000;
    border-radius: 0.5rem;
}

.fightingDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.fightBox {
    width: 40%;
    height: 70%;
    border: 0.1rem solid #990000;
    background-color: #600000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: white;
}

#loginModal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#modalContent {
    background-color: #ff0000;
    padding: 5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 60vw;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    color: white;
}

#modalContent h1 {
    margin: 0 0 3rem;
}
#modalContent button {
    background-color: inherit;
    color: #000;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: 900;
}

#submituser {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #862121 !important;
    border: none;
    border-radius: 0.4rem; 
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}

#submituser:hover {
    background-color: #ae0f0f !important;
    border-radius: 0.4rem;
}

.hidden {
    display: none;
}
